.analysis-side-nav {
  width: 300px;
  border-right: 1px solid var(--app-outline-variant);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.analysis-main-content {
  flex: 1;
}
