<div style="display: flex; flex-direction: row">
  @if (sidebarOpen) {
    <div class="analysis-side-nav">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>Analysis Group</span>
          <button mat-icon-button (click)="openCreateAnalysisGroupDialog()">
            <mat-icon>create_new_folder</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div style="display: flex; flex-direction: column; padding: 5px">
        <form [formGroup]="form">
          <mat-form-field style="width: 100%">
            <input matInput formControlName="name" type="search" placeholder="Search Analysis Group">
            <mat-label>Search Analysis Group</mat-label>
          </mat-form-field>
        </form>
        @if (analysisGroupQuery) {
          @if (analysisGroupQuery.count > 0) {
            <div style="height: calc(100vh - 64px*4 - 20px); overflow: auto">
              <app-analysis-group-list (selectedAnalysisGroup)="onAnalysisGroupSelected($event)" [analysisGroupQuery]="analysisGroupQuery"></app-analysis-group-list>
            </div>
            <mat-paginator #paginator
                           (page)="handlePageEvent($event)"
                           [length]="analysisGroupQuery.count"
                           [pageSize]="limit"
                           [showFirstLastButtons]="true"
                           [hidePageSize]="true"
                           [pageIndex]="pageIndex"
                           aria-label="Select page">
            </mat-paginator>
          } @else {
            <p>No analysis groups found.</p>
          }
        }
      </div>
    </div>
  }
  <div class="analysis-main-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <button mat-icon-button (click)="toggleSidePanel()"><mat-icon>menu</mat-icon></button>
          <span>
            @if (selectedAnalysisGroup) {
              {{selectedAnalysisGroup.name}} ({{dataService.getAnalysisGroupTypeLabel(selectedAnalysisGroup.analysis_group_type)}})
            } @else {
              Select Analysis Group
            }
          </span>

        </div>

      </mat-toolbar-row>
    </mat-toolbar>
    <div style="height: calc(100vh - 64px*2 - 20px); overflow: auto">
      @if (selectedAnalysisGroup) {
        <app-analysis-group-view [analysisGroup]="selectedAnalysisGroup" (deleted)="refreshData()" (updated)="handleUpdateData($event)"></app-analysis-group-view>
      }
    </div>
  </div>
</div>
