@if (projectQuery) {
    <mat-selection-list [multiple]="false" #projectSelection (selectionChange)="selectProject($event)">
      @for (project of projectQuery.results; track project.id) {
        <mat-list-option [value]="project" class="list-option">
          <div matListItemTitle class="project-title">{{project.name}}</div>
          <div matListItemLine class="project-description">
            {{project.description}}
          </div>
          <div matListItemLine class="badges-container">
            @if (project.temporary) {
              <app-status-badge label="Temporary" type="tertiary"></app-status-badge>
            }
            @if (project.encrypted) {
              <app-status-badge label="Encrypted" type="outline"></app-status-badge>
            }
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>
      }
    </mat-selection-list>
}
