<div style="display: flex; flex-direction: row; justify-content: center; padding: 50px">
  <div style="width: 100%">
    @if (project) {
      <form (ngSubmit)="updateProject()" [formGroup]="form" style="display: flex; flex-direction: column; gap: 20px">
        <mat-form-field style="width: 100%">
          <input matInput formControlName="name" type="text" placeholder="Project Name">
          <mat-label>Project Name</mat-label>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <textarea matInput formControlName="description" placeholder="Project Description"></textarea>
          <mat-label>Project Description</mat-label>
        </mat-form-field>
        <div style="display: flex; flex-direction: row; gap: 10px; align-items: center">
          <mat-form-field style="width: 100%">
            <input matInput formControlName="species_name" placeholder="Species Name" type="search">
            <mat-label>Species Name Search</mat-label>
          </mat-form-field>
          @if (speciesEditable) {
            <button mat-icon-button (click)="changeSpeciesEditableState()">
              <mat-icon>lock_open</mat-icon>
            </button>
          } @else {
            <button mat-icon-button (click)="changeSpeciesEditableState()">
              <mat-icon>lock</mat-icon>
            </button>
          }
        </div>

        @if (speciesQuery && speciesEditable) {
          @if (speciesQuery.results.length > 0) {
            <mat-selection-list formControlName="species" [multiple]="false" style="max-height: 200px; overflow: auto">
              @for (species of speciesQuery.results; track species.id) {
                <mat-list-option [value]="species">
                  {{species.official_name}}
                </mat-list-option>
              }
            </mat-selection-list>
          }
        }

        <div style="display: flex; flex-direction: row; gap: 20px">
          <button mat-raised-button color="primary" type="submit" [disabled]="!accounts.loggedIn">Update</button>
          <button mat-raised-button color="accent" [disabled]="!accounts.loggedIn" (click)="openAnalysisGroupCreateModal()"><mat-icon>add</mat-icon> Analysis Group</button>
          <button mat-raised-button color="warn" [disabled]="!accounts.loggedIn" (click)="deleteProject()">Delete</button>
        </div>
      </form>
      @if (analysisGroupQuery) {
        <div style="padding: 20px">
          <b>Associated Analysis Group</b>
          @if (analysisGroupQuery.results.length >0) {
            <mat-list>
              @for (ag of analysisGroupQuery.results; track ag.id) {
                <mat-list-item>
                  <a matListItemTitle href="/#/analysis-group/{{ag.id}}" target="_blank">{{ag.name}}</a>
                  <hr>
                </mat-list-item>
              }
            </mat-list>
          } @else {
            <p>No analysis groups found.</p>
          }
          <mat-paginator #paginator
                         (page)="handlePageChange($event)"
                         [length]="analysisGroupQuery.count"
                         [pageSize]="pageSize"
                         [showFirstLastButtons]="true"
                         [hidePageSize]="true"
                         [pageIndex]="currentPage"
                         aria-label="Select page">
          </mat-paginator>

        </div>
      }

    }

  </div>
</div>
