<h1 mat-dialog-title>Adding New Metadata</h1>
<div mat-dialog-content>
  <p>
    For the metadata with dropdowns autocomplete options, unless you are sure that the value is not in the database, please try your best to select the value from the dropdown.
  </p>
  <form [formGroup]="form" style="display: flex; flex-direction: column; gap: 20px">
    <mat-form-field>
      <input matInput formControlName="metadataName" [matAutocomplete]="autoMetadataName" [readonly]="readonlyName">
      <mat-label>Metadata Name</mat-label>
      <mat-autocomplete #autoMetadataName="matAutocomplete">
        @if (form.value.metadataType === "Characteristics") {
          @for (m of metadataCharacteristics; track m) {
            <mat-option [value]="m">
              {{m}}
            </mat-option>
          }
        } @else if (form.value.metadataType === "Comment") {
          @for (m of metadataComment; track m) {
            <mat-option [value]="m">
              {{m}}
            </mat-option>
          }
        } @else {
          @for (m of metadataNameAutocomplete; track m) {
            <mat-option [value]="m">
              {{m}}
            </mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>


    @if (form.value.metadataName) {
      @if (metadataNameAutocomplete.includes(form.value.metadataName)) {
        <mat-form-field>
          <input matInput formControlName="metadataValue" [matAutocomplete]="autoMetadataValue">
          <mat-label>Metadata Value</mat-label>
          <mat-hint>
            @if (data.metadataHintMap[form.value.metadataName]) {
              {{data.metadataHintMap[form.value.metadataName]}}
            }
          </mat-hint>
        </mat-form-field>
        <mat-autocomplete #autoMetadataValue="matAutocomplete" (optionSelected)="getSelectedData($event)">
          @for (m of filteredResults| async ; track m) {
            <mat-option [value]="displayData(m)">
              {{displayData(m)}}
            </mat-option>
          }
        </mat-autocomplete>
      } @else {
        <mat-form-field>
          <textarea matInput formControlName="metadataValue"></textarea>
          <mat-label>Metadata Value</mat-label>
        </mat-form-field>

      }
    }
    <mat-form-field>
      <input matInput formControlName="metadataType" [matAutocomplete]="autoMetadataType" [readonly]="readonlyType">
      <mat-label>Metadata Type</mat-label>
      <mat-autocomplete #autoMetadataType="matAutocomplete">
        @for (m of metadataTypeAutocomplete; track m) {
          <mat-option [value]="m">
            {{m}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    @if (form.value.metadataName) {
      @if (form.value.metadataName.toLowerCase() === "modification parameters") {
        <mat-form-field>
          <mat-select (valueChange)="selectSpec($event)">
            @for (m of availableSpecs; track m) {
              <mat-option [value]="m">
                {{m.name}} @if (m.classification) {({{m.classification}})}
              </mat-option>
            }
          </mat-select>
          <mat-label>Unimod Specifications</mat-label>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="metadataPP">
            @for (m of ["Anywhere", "Protein N-term", "Protein C-term", "Any N-term", "Any C-term"]; track m) {
              <mat-option [value]="m">
                {{m}}
              </mat-option>
            }
          </mat-select>
          <mat-label>Modification Position</mat-label>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="metadataMT">
            @for (m of ["Fixed", "Variable", "Annotated"]; track m) {
              <mat-option [value]="m">
                {{m}}
              </mat-option>
            }
          </mat-select>
          <mat-label>Modification Type</mat-label>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="metadataTA">
          <mat-label>Target Amino Acid</mat-label>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="metadataMM">
          <mat-label>Monoisotopic Mass</mat-label>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="metadataTS">
          <mat-label>Target Site</mat-label>
        </mat-form-field>
      }
    }


  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="submit()">Submit</button>
</div>
