
<div class="collate-container">
  <div class="header-container" style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 200px">
    <div class="header" style="text-align: center; font-family: Roboto, Helvetica Neue, sans-serif">
      <h1>Cinder Collates</h1><br>
    </div>
  </div>

  <div class="search-box">
    <div>
      <button style="width: 100%" mat-button (click)="openCreateCollateDialog()"><h3>+ Create Collate From Projects</h3></button>
    </div>
    <hr>

    <mat-card appearance="outlined" style="width:500px">
      <mat-card-content>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="searchTerm" placeholder="Search Collates" (ngModelChange)="searchCollates()">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Search Tags</mat-label>
          <mat-chip-grid #chipGrid>
            @for (tag of searchTags; track tag.id) {
              <mat-chip-row [removable]="true" (removed)="removeTag(tag)">
                {{tag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
            <input
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [formControl]="form.controls.tag" [matAutocomplete]="auto"
            />
          </mat-chip-grid>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTag($event)">
            @for (tag of filteredTags| async; track tag.id) {
              <mat-option [value]="tag">
                {{tag.name}}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        @if (collates.length > 0) {
          <mat-selection-list [(ngModel)]="selectedCollate" (selectionChange)="onCollateSelect($event)" [multiple]="false">
            @for (collate of collates; track collate.id) {
              <mat-list-option [value]="collate">
                {{ collate.title }}
              </mat-list-option>
            }
          </mat-selection-list>
          <mat-paginator [length]="totalCount" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20]" (page)="handlePageEvent($event)">
          </mat-paginator>
        } @else {
          <p>No collates could be found.</p>
        }
      </mat-card-content>
    </mat-card>


  </div>

</div>
