@if (project) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title cdkDragHandle><span style="color:#ba0000">{{ project.name }}</span></mat-card-title>
      <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      @if (searchResults.length > 0) {

        <mat-slide-toggle
          [color]="'primary'"
          (change)="expanded = !expanded"
        >
          Expand Bar Chart
        </mat-slide-toggle>
      }

      <div cdkDropList (cdkDropListDropped)="drop($event)" style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center">
        @if (searchResults.length > 0) {
          @for (s of searchResults; track s.id) {
            <div cdkDrag>
              @if (s.searched_data.length > 0) {
                <div>
                  <app-bar-chart [expanded]="expanded" [colorMap]="colorMap" [data]="s"></app-bar-chart>
                </div>
              } @else {
                <div>
                  <p>No data found for this search</p>
                </div>
              }
              <button mat-icon-button cdkDragHandle><mat-icon>drag_handle</mat-icon></button>
            </div>
          }
        } @else {
          <p>No search results found in this project</p>
        }
      </div>
      @if (searchResults.length >0) {
        <table mat-table [dataSource]="searchResults" class="mat-elevation-z8">
          <ng-container matColumnDef="primary_id">
            <th mat-header-cell *matHeaderCellDef> Primary ID </th>
            <td mat-cell *matCellDef="let result"> {{result.primary_id}} </td>
          </ng-container>
          <ng-container matColumnDef="uniprot_id">
            <th mat-header-cell *matHeaderCellDef> UniProt ID </th>
            <td mat-cell *matCellDef="let result"> {{result.uniprot_id}} </td>
          </ng-container>
          <ng-container matColumnDef="gene_name">
            <th mat-header-cell *matHeaderCellDef> Gene Names </th>
            <td mat-cell *matCellDef="let result"> {{result.gene_name}} </td>
          </ng-container>
          <ng-container matColumnDef="log2_fc">
            <th mat-header-cell *matHeaderCellDef> log2FC </th>
            <td mat-cell *matCellDef="let result"> {{result.log2_fc}} </td>
          </ng-container>

          <ng-container matColumnDef="log10_p">
            <th mat-header-cell *matHeaderCellDef> -log10(p) </th>
            <td mat-cell *matCellDef="let result"> {{result.log10_p}} </td>
          </ng-container>

          <ng-container matColumnDef="condition_A">
            <th mat-header-cell *matHeaderCellDef> Condition A </th>
            <td mat-cell *matCellDef="let result"> {{result.condition_A}} </td>
          </ng-container>

          <ng-container matColumnDef="condition_B">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let result"> {{result.condition_B}} </td>
          </ng-container>
          <ng-container matColumnDef="comparison_label">
            <th mat-header-cell *matHeaderCellDef> Comparison </th>
            <td mat-cell *matCellDef="let result"> {{result.comparison_label}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="searchResultDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: searchResultDisplayColumns;"></tr>
        </table>
      }
    </mat-card-content>
      <mat-card-actions>
        @if (accounts.loggedIn) {
          <button mat-icon-button color="primary" (click)="deleteProject.emit(project)" matTooltip="Delete Project {{project.name}} from collate"><mat-icon>delete</mat-icon></button>
        }
        @if (project) {
          <a href="/#/project/{{project.id}}" target="_blank"><mat-icon>link</mat-icon></a>
        }
      </mat-card-actions>
  </mat-card>
}
