@if (!isCollateView) {
  <mat-toolbar>
    <mat-toolbar-row >
      <div style="display: flex; justify-content: center; align-items: center">
        <img [width]="25" [height]="25" [ngSrc]="'/assets/logo.png'"> <a href="/#/home"><span style="color:#ba0000"><b>C|nder</b></span></a>
      </div>

      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="labGroupMenu">@if (currentLabGroup) { {{currentLabGroup.name}} } @else {All Lab Group Selected}</button>
      @if (accounts.loggedIn && accounts.currentUser) {
        <button mat-button>Logged in as: {{accounts.currentUser.username}} @if(accounts.currentUser.is_staff) {<mat-icon>shield_person</mat-icon>} @else {<mat-icon>person</mat-icon>}</button>
      }
      <mat-slide-toggle
        class="example-margin"
        [color]="'primary'"
        [checked]="accounts.userAccount.darkMode"
        (change)="switchDarkMode()"
      >
        <mat-icon>lightbulb</mat-icon>
      </mat-slide-toggle>
      <button mat-icon-button style="color: rgb(172,110,110)" [matMenuTriggerFor]="menu" aria-label="View Project or Analysis Group">
        <mat-icon>view_list</mat-icon>
      </button>
      @if (accounts.loggedIn) {

        <button mat-icon-button style="color: rgb(186,104,166)" aria-label="Logout" (click)="accounts.logout()">
          <mat-icon>logout</mat-icon>
        </button>
      } @else {
        <button mat-icon-button style="color: rgb(172,110,110)" aria-label="Login" (click)="openLoginDialog()">
          <mat-icon>login</mat-icon>
        </button>
      }

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/#/project">
      <span>Project</span>
    </a>
    <a mat-menu-item href="/#/analysis-group">
      <span>Analysis Group</span>
    </a>
    <a mat-menu-item href="/#/search-session">
      <span>Search Session</span>
    </a>
    <a mat-menu-item href="/#/collate">
      <span>Collate</span>
    </a>
  </mat-menu>
  <mat-menu #labGroupMenu="matMenu">
    @for (group of labGroups; track group.id) {
      <a mat-menu-item (click)="selectLabGroup(group)">
        <span>{{group.name}}</span>
      </a>
    }
    @if (currentLabGroup) {
      <a mat-menu-item (click)="selectAllLabGroups()">
        <span>All Lab Group</span>
      </a>
    }
    @if (accounts.loggedIn && accounts.currentUser) {
      @if (accounts.currentUser.is_staff) {
        <a mat-menu-item (click)="openLabGroupCreateDialog()">
          + Create New Lab Group
        </a>
      }
    }
  </mat-menu>
}

