<mat-card appearance="outlined">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="runSearch()" style="display: flex; gap:20px; align-items: center">
      <mat-form-field style="width:500px">
        <input matInput placeholder="Search Query" formControlName="searchQuery">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Search Mode</mat-label>
        <mat-select formControlName="searchMode">
<!--          <mat-option value="full">Full</mat-option>-->
          <mat-option value="pi">Primary Ids</mat-option>
          <mat-option value="gene">Gene Names</mat-option>
<!--          <mat-option value="uniprot">Uniprot</mat-option>-->
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit"><mat-icon>search</mat-icon></button>
    </form>
    <p>
      For multiple search terms separate them with <b>OR</b>.
    </p>
    @if (loading) {
      <p>Elapsed Time: {{ elapsedTime }} seconds</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
  </mat-card-content>
</mat-card>
