<mat-toolbar>
  <mat-toolbar-row>
    <a href="/#/home"><img [width]="25" [height]="25" [ngSrc]="'/assets/logo.png'"></a>
    <span class="spacer"></span>
    @if (collate) {
      <button mat-icon-button [matMenuTriggerFor]="previousSearch" matTooltip="View previous searches">
        <mat-icon>history</mat-icon>
      </button>
      <mat-menu #previousSearch="matMenu">
        @if (pastSearches.length === 0) {
          <button mat-menu-item disabled>No previous searches</button>
        } @else {
          @for (p of pastSearches; track p) {
            @if (p.collate === collate.id) {
              <button mat-menu-item (click)="restoreSearches(p.searchQuery, p.searchID)">{{p.searchID}}. {{p.termFounds.join(',')}}</button>
            }
          }
        }

      </mat-menu>
    }

    <button mat-icon-button (click)="openQRCodeDialog()" matTooltip="Open QR code dialog">
      <mat-icon>qr_code</mat-icon>
    </button>
    <button mat-icon-button (click)="openVisibilityDialog()" matTooltip="Change analysis group visibility">
      <mat-icon>visibility</mat-icon>
    </button>
    @if (accounts.loggedIn) {
      <button mat-icon-button (click)="navigateToEdit()" matTooltip="Edit collate">
        <mat-icon>edit</mat-icon>
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
@if (collate) {
  <app-collate-header [collate]="collate"></app-collate-header>
}
@if (collate && collate.settings) {
  @if (collate.settings.showTags) {
    <div style="display: flex; justify-content: center; padding: 20px">
      <app-collate-tags [collageTags]="collate.tags"></app-collate-tags>
    </div>
  }
}


<div style="display: flex; justify-content: center">
  <app-collate-search [projects]="projects" (searchResultID)="_sessionId=$event;getSearchFromID($event)"></app-collate-search>
</div>

@if (searchTerms.length > 0) {
  <button mat-icon-button (click)="toggleCytoscapePlot()" matTooltip="Toggle Cytoscape Plot">
    <mat-icon [ngClass]="{'disabled-icon': !showCytoscapePlot}">account_tree</mat-icon>
  </button>
  @if (collate && showCytoscapePlot) {
    <app-cytoscape-plot [renameCondition]="collate.settings.renameSampleCondition" [projects]="projects" [searchResultsMap]="filteredResults"></app-cytoscape-plot>
  }
  <div style="padding: 20px">
    <mat-tab-group (selectedTabChange)="filterDataBySearchTerm()" [(selectedIndex)]="selectedIndex" [mat-stretch-tabs]="false">
      @for (term of searchTerms; track term) {
        <mat-tab>
          <ng-template mat-tab-label >
            {{term}}
            <button mat-icon-button (click)="exportData(term)" [disabled]="waitingForDownload" matTooltip="Export data">
              <mat-icon>download</mat-icon>
            </button>

          </ng-template>
        </mat-tab>

      }
    </mat-tab-group>
  </div>

  @if (collate) {
    <app-collate-project-list [searchTerm]="selectedSearchTerm" [renameCondition]="collate.settings.renameSampleCondition" [projects]="projects" [filteredResults]="filteredResults"></app-collate-project-list>
  }
}



