<h1>Generate Registration Link</h1>
<form [formGroup]="userTokenForm" (ngSubmit)="createUserToken()" style="display: flex; flex-direction: column; gap: 20px; padding: 20px">
  <mat-form-field>
    <input matInput formControlName="username" placeholder="Username" type="text">
    <mat-label>Username</mat-label>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" type="submit">Create User Registration Token Link</button>
  </div>
  @if (userTokenLink) {
    <mat-card appearance="outlined">
      <mat-card-content>
        Registration Link and Information
        <mat-form-field style="width:100%">
          <input matInput [value]="userTokenLink" type="text" readonly>
          <mat-label>Registration Link</mat-label>
          <button mat-icon-button  matSuffix (click)="copyTokenLink()">
            <mat-icon>content_paste</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  }
</form>
