<h5 mat-dialog-title>Plot General Settings</h5>
<div mat-dialog-content>
  <form [formGroup]="form" style="display: flex; flex-direction: column; gap: 20px">
    <section>
      <b>Overall Size</b>
      <mat-form-field>
        <input matInput formControlName="height" type="number">
        <mat-label>Height</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="barSize" type="number">
        <mat-label>Bar size</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="marginLeft" type="number">
        <mat-label>Margin Left</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="marginRight" type="number">
        <mat-label>Margin Right</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="marginTop" type="number">
        <mat-label>Margin Top</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="marginBottom" type="number">
        <mat-label>Margin Bottom</mat-label>
      </mat-form-field>
      <hr>
    </section>

    <section>
      <b>Title</b>
      <mat-checkbox formControlName="showTitle">Show Title</mat-checkbox>
      <mat-form-field>
        <input matInput formControlName="titleTextSize" type="number">
        <mat-label>Title Text Size</mat-label>
      </mat-form-field>
    </section>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="submit()">Save</button>
</div>
