<div class="banner">
  <mat-card style="width: 500px" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <span style="color:#ba0000"><mat-icon>lock</mat-icon></span>
        <a href="/#/project"><span style="color:#ba0000">Project</span></a>
      </mat-card-title>
      <mat-card-subtitle>
        Cinder Project Data
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        # of Projects: {{projectCount}}
      </p>
    </mat-card-content>
    @if (accounts.loggedIn) {
      <mat-card-actions>
        <button mat-button type="button" (click)="openProjectCreateDialog()">Create Project</button>
      </mat-card-actions>
    }

  </mat-card>
  <mat-card style="width: 500px" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <span style="color:#ba0000"><mat-icon>lock</mat-icon></span>
        <a href="/#/analysis-group"><span style="color:#ba0000">Analysis Groups</span></a>
      </mat-card-title>
      <mat-card-subtitle>
        Project Assigned Analysis Groups
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        # of Analysis Groups: {{analysisGroupCount}}
      </p>
    </mat-card-content>
    @if (accounts.loggedIn) {
      <mat-card-actions>
        <button mat-button type="button" (click)="openAnalysisGroupCreateDialog()">Create Analysis Group</button>
      </mat-card-actions>
    }
  </mat-card>
  <mat-card style="width: 500px" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <span style="color:#ba0000"><mat-icon>lock_open</mat-icon></span>
        <a href="/#/home"><span style="color:#ba0000">Search</span></a>
      </mat-card-title>
      <mat-card-subtitle>
        Search through the Cinder Database
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button">Search</button>
    </mat-card-actions>
  </mat-card>
</div>

