<div style="display: flex; flex-direction: row; justify-content: center; gap:20px; padding:20px; flex-wrap: wrap">
  <div style="display: flex; flex-direction: column; gap:20px">
    <mat-card style="width: 350px" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <span style="color:#ba0000"><mat-icon>lock</mat-icon></span>
          <a href="/#/project"><span style="color:#ba0000">Project</span></a>
        </mat-card-title>
        <mat-card-subtitle>
          Cinder Project Data
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          # of Projects: {{projectCount}}
        </p>
        <app-project-search [multipleSelection]="false" (selectedProjects)="handleProjectSelection($event)"></app-project-search>
      </mat-card-content>
      @if (accounts.loggedIn) {
        <mat-card-actions>
          <button mat-button type="button" (click)="openProjectCreateDialog()">Create Project</button>
        </mat-card-actions>
      }
    </mat-card>
    <mat-card style="width: 350px" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <span style="color:#ba0000"><mat-icon>lock</mat-icon></span>
          <a href="/#/analysis-group"><span style="color:#ba0000">Analysis Groups</span></a>
        </mat-card-title>
        <mat-card-subtitle>
          Project Assigned Analysis Groups
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          # of Analysis Groups: {{analysisGroupCount}}
        </p>
        <app-analysis-search (selectedAnalysisGroups)="handleAGSelection($event)"></app-analysis-search>
      </mat-card-content>
      @if (accounts.loggedIn) {
        <mat-card-actions>
          <button mat-button type="button" (click)="openAnalysisGroupCreateDialog()">Create Analysis Group</button>
        </mat-card-actions>
      }
    </mat-card>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: center">
    <div>
      <mat-card style="min-width: 350px; width: 100%" appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            <span style="color:#ba0000"><mat-icon>lock_open</mat-icon></span>
            <a href="/#/search-session"><span style="color:#ba0000">Search</span></a>
          </mat-card-title>
          <mat-card-subtitle>
            Search through the Cinder Database
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" style="display: flex; flex-direction: column; gap: 5px">
            <mat-form-field>
              <input matInput formControlName="search" placeholder="Search" type="search">
              <mat-label>Database Search Term</mat-label>
            </mat-form-field>
            <p>
              <b>Search Multiple Terms</b><br>
              In order to search with multiple terms, enclose each term in single quotes and separate them with <b>OR</b>.
            </p>
            <mat-form-field>
              <mat-select formControlName="searchMode">
                <mat-option [value]="'full'">
                  Full Text
                </mat-option>
                <mat-option [value]="'uniprot'">
                  UniProt Accession ID
                </mat-option>
                <mat-option [value]="'gene'">
                  Gene Names
                </mat-option>
                <mat-option [value]="'pi'">
                  Primary IDs
                </mat-option>
              </mat-select>
              <mat-label>Search Mode</mat-label>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="foldChange" type="number" placeholder="Log2 Fold Change">
              <mat-label>Log2 Fold Change Cutoff</mat-label>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="pValue" type="number" placeholder="P-Value">
              <mat-label>-Log10(P-Value) Cutoff</mat-label>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="search" formControlName="species_name" placeholder="Species Name">
              <mat-label>Species Name Search</mat-label>
            </mat-form-field>
            @if (speciesQueryBehaviorSubject.asObservable()|async; as species) {
              @if (species.length > 0) {
                Select an option from below:
                <mat-selection-list [multiple]="false">
                  @for (s of species; track s.id) {
                    <mat-list-option [value]="s" (click)="selectSpecies(s)">
                      {{s.official_name}} ({{s.code}})
                    </mat-list-option>
                  }
                </mat-selection-list>
              }
            }

          </form>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filter by Project
                </mat-panel-title>
                <mat-panel-description>
                  Optional
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-project-search [species]="selectedSpecies" [multipleSelection]="true" (selectedProjects)="handleMultipleProjectSelection($event)"></app-project-search>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="button" (click)="searchDatabase()">Search</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>


