@if (isStaff) {
  <div style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
    <div style="width: 600px">
      <mat-tab-group>
        <mat-tab label="User">
          <app-user-management></app-user-management>
        </mat-tab>
        <mat-tab label="Collate">
          <app-collate-management></app-collate-management>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
} @else {
  <div style="display: flex; flex-direction: column; align-items: center; gap: 20px">
    <p>
      You are not authorized to view this page.
    </p>
  </div>
}
