<div style="display: flex; flex-direction: column; gap: 20px">
  <h3>Metadata</h3>
  <div style="display: flex; flex-direction: column; gap: 20px">
    @for (m of metadata; track m.id) {
      @if (metadataFormMap[m.id]) {
        <form [formGroup]="metadataFormMap[m.id]" style="display: flex; gap:20px">
          <mat-form-field style="flex-grow: 1">
            <textarea
              [readonly]="!canEdit"
              matInput
              formControlName="value"
              [disabled]="markedForDeletion.includes(m)"
              [matAutocomplete]="autoMetadataValue">

            </textarea>
            <mat-label>{{m.name}}</mat-label>
            <mat-hint>@if(metadataFormMap[m.id].dirty) {(value modified)}</mat-hint>
          </mat-form-field>
          <mat-autocomplete #autoMetadataValue="matAutocomplete">
            @for (m of autoCompleteMap[m.id]| async ; track m) {
              <mat-option [value]="displayData(m)">
                {{displayData(m)}}
              </mat-option>
            }
          </mat-autocomplete>
          @if (!markedForDeletion.includes(m)) {
            <button [disabled]="!canEdit" mat-icon-button type="button" [matTooltip]="'Mark for deletion'" (click)="metadataDeleted.emit(m);markedForDeletion.push(m)">
              <mat-icon>delete</mat-icon>
            </button>
          } @else {
            <button [disabled]="!canEdit" mat-icon-button type="button" [matTooltip]="'Undo deletion mark'" (click)="undoDeletion(m)">
              <mat-icon>undo</mat-icon>
            </button>
          }
        </form>

      }
    }
  </div>

  <div style="display: flex; gap:20px">
    <button [disabled]="!canEdit" mat-flat-button type="button" color="primary" [matMenuTriggerFor]="metadataMenu">Add Metadata</button>
    <button [disabled]="!canEdit" mat-flat-button type="button" color="primary" (click)="addSampleFile()">Add Sample File</button>
    <button mat-flat-button type="button" color="warn" (click)="exportSDRFFromBackend()">Export SDRF</button>
  </div>
  <mat-menu #metadataMenu="matMenu">
    <button mat-menu-item (click)="createMetadata('disease')">Disease</button>
    <button mat-menu-item (click)="createMetadata('tissue')">Tissue</button>
    <button mat-menu-item (click)="createMetadata('subcellular location')">Subcellular location</button>
    <button mat-menu-item (click)="createMetadata('organism')">Organism</button>
    <button mat-menu-item (click)="createMetadata()">Create custom metadata field</button>
  </mat-menu>
  @if (sourceFiles.length > 0) {
    <mat-accordion multi>
      @for (s of sourceFiles; track s.id) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{s.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{s.description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-direction: column; gap: 20px">

            <mat-menu #metadataMenuFileSpecific="matMenu">
              <button mat-menu-item (click)="createMetadataFileSpecific('disease', s.id)">Disease</button>
              <button mat-menu-item (click)="createMetadataFileSpecific('tissue', s.id)">Tissue</button>
              <button mat-menu-item (click)="createMetadataFileSpecific('subcellular location', s.id)">Subcellular location</button>
              <button mat-menu-item (click)="createMetadataFileSpecific('organism', s.id)">Organism</button>
              <button mat-menu-item (click)="createMetadataFileSpecific('modification', s.id)">Modification</button>
              <button mat-menu-item (click)="createMetadataFileSpecific(null, s.id)">Create custom metadata field</button>
            </mat-menu>
            <div style="display: flex; gap: 20px">
              @if (sourcefileFormMap[s.id]) {
                <form [formGroup]="sourcefileFormMap[s.id]" style="width:300px">
                  <mat-form-field style="width: 100%">
                    <input matInput formControlName="name">
                    <mat-label>Source File Sample Name</mat-label>
                    <mat-hint>@if (sourcefileFormMap[s.id].controls["name"].dirty) {Value changed}</mat-hint>
                  </mat-form-field>
                  <mat-form-field style="width: 100%">
                    <textarea matInput formControlName="description"></textarea>
                    <mat-label>Source File Sample Description</mat-label>
                    <mat-hint>@if (sourcefileFormMap[s.id].controls["description"].dirty) {Value changed}</mat-hint>
                  </mat-form-field>
                </form>
              }
              <div style="flex-grow: 1">
                <div style="display: flex; gap: 20px">
                  <button [disabled]="!canEdit" type="button" mat-icon-button [matTooltip]="'Add new metadata annotation'" [matMenuTriggerFor]="metadataMenuFileSpecific"><mat-icon>add</mat-icon></button>
                  @if (canEdit) {
                    <button [disabled]="!canEdit" type="button" mat-icon-button [matTooltip]="'Remove this source file'" (click)="removeSampleFile(s.id)"><mat-icon>delete</mat-icon></button>
                  }
                </div>
                <h5>Metadata Annotation</h5>
                <div style="display: flex; flex-direction: column; gap: 20px" cdkDropList (cdkDropListDropped)="drop($event, s)">
                  @for (c of s.metadata_columns; track c.id) {
                    @if (metadataFormMap[c.id]) {
                      <form [formGroup]="metadataFormMap[c.id]" cdkDrag [cdkDragData]="c">
                        <div style="display: flex; gap: 20px">
                          <mat-form-field style="flex-grow: 1">
                            <textarea matInput formControlName="value" [matAutocomplete]="autoMetadataSourceFileValue"></textarea>
                            <mat-label>{{c.name}}</mat-label>
                            <mat-hint>{{c.type}} @if(metadataFormMap[c.id].dirty) {(value modified)} - Position {{c.column_position}}</mat-hint>
                            <button [disabled]="!canEdit || metadataFormMap[c.id].controls['not_applicable']" type="button" mat-icon-button matSuffix (click)="markForDeleteOrUndo(c)">
                              @if (!metadataFormMap[c.id].controls['value'].disabled) {
                                <mat-icon>delete</mat-icon>
                              } @else {
                                <mat-icon>undo</mat-icon>
                              }
                            </button>
                            <mat-autocomplete #autoMetadataSourceFileValue="matAutocomplete">
                              @for (m of autoCompleteMap[c.id]| async ; track m) {
                                <mat-option [value]="displayData(m)">
                                  {{displayData(m)}}
                                </mat-option>
                              }
                            </mat-autocomplete>
                          </mat-form-field>
                          <mat-checkbox formControlName="not_applicable" (click)="updateNotApplicable(c)">Field not applicable</mat-checkbox>
                        </div>

                        <button mat-icon-button cdkDragHandle><mat-icon>drag_handle</mat-icon></button>
                      </form>
                    }
                  }
                </div>

              </div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; gap: 20px">
            @for (c of s.metadata_columns; track c.id) {

            }
          </div>

        </mat-expansion-panel>
      }
    </mat-accordion>


  }
</div>

