@if (curtainData) {
  <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap">
    <app-volcano-plot [curtainData]="curtainData" (selected)="handleVolcanoSelection($event)"></app-volcano-plot>
  </div>
  <p>
    Curtain Link: <a href="{{analysisGroup?.curtain_link}}" target="_blank">{{analysisGroup?.curtain_link}}</a>
  </p>
}
<div style="display: flex; flex-direction: row; justify-content: center; padding: 50px">
  <div style="width: 100%">
    @if (analysisGroup) {
      @if (associatedProject) {
        <p>
          Associated Project: <a href="/#/project/{{analysisGroup.project}}" target="_blank">{{associatedProject.name}}</a>
        </p>

      }
      <form (ngSubmit)="updateAnalysisGroup()" [formGroup]="form" style="display: flex; flex-direction: column; gap: 20px; padding: 20px">
        <mat-form-field style="width: 100%">
          <input matInput formControlName="name" type="text" placeholder="Analysis Group Name">
          <mat-label>Analysis Group Name</mat-label>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <textarea matInput formControlName="description" placeholder="Analysis Group Description"></textarea>
          <mat-label>Analysis Group Description</mat-label>
        </mat-form-field>
        <div style="display: flex; flex-direction: row; gap: 10px">
          <mat-form-field style="width: 100%">
            <input matInput formControlName="curtain_link" type="text" placeholder="Curtain Link">
            <mat-label>Curtain Link</mat-label>
          </mat-form-field>
          <button mat-icon-button (click)="refreshCurtainLink()" [disabled]="!canEdit" type="button">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        @if (composingCurtainProgress.started) {
          <p>{{composingCurtainProgress.message}}</p>
          <mat-progress-bar [value]="composingCurtainProgress.progress" [mode]="'determinate'" [color]="'primary'"></mat-progress-bar>
        }

        <div style="display: flex; flex-direction: row; gap:10px">
          <button mat-flat-button color="primary" type="submit" [disabled]="!canEdit">Update Analysis Group</button>
          @if (analysisGroup.curtain_link) {
            <button mat-flat-button color="primary" type="button" (click)="composeDataFromCurtain()" [disabled]="!canEdit">Use Curtain Link For Data</button>
          }
        </div>
      </form>
      <div style="display: flex; flex-direction: row; gap: 20px; align-items: center">
        <div>
          <p>Differential Analysis File @if(analysisGroupDF) {: {{analysisGroupDF.name}}}</p>
        </div>
        @if (canEdit) {
          <app-upload-file (fileUploaded)="handleFileUploaded($event, 'df')" [analysisGroupId]="analysisGroup.id" [fileCategory]="'df'"></app-upload-file>
        }
        @if (analysisGroupDF) {
          <button mat-icon-button (click)="downloadFile(analysisGroupDF)"><mat-icon>download</mat-icon></button>
          @if (canEdit) {
            <button mat-icon-button (click)="deleteFile(analysisGroupDF)"><mat-icon>delete</mat-icon></button>
            <button mat-flat-button color="primary" (click)="openExtraDataModal(analysisGroupDF)" [disabled]="!accounts.loggedIn">Extra Data</button>
          }
        }
      </div>
      <div style="display: flex; flex-direction: row; gap: 20px; align-items: center">
        <div>
          <p>Searched File @if(analysisGroupSearched) {: {{analysisGroupSearched.name}}}</p>
        </div>
        @if (canEdit) {
          <app-upload-file (fileUploaded)="handleFileUploaded($event, 'searched')" [analysisGroupId]="analysisGroup.id" [fileCategory]="'searched'"></app-upload-file>
        }
        @if (analysisGroupSearched) {
          <button mat-icon-button (click)="downloadFile(analysisGroupSearched)"><mat-icon>download</mat-icon></button>
          @if (canEdit) {
            <button mat-icon-button (click)="deleteFile(analysisGroupSearched)"><mat-icon>delete</mat-icon></button>
            <button mat-flat-button color="primary" (click)="openExtraDataModal(analysisGroupSearched)" [disabled]="!accounts.loggedIn">Extra Data</button>
          }
        }
      </div>
      <div style="display: flex; flex-direction: row; gap: 20px; align-items: center">
        <div>
          <p>Copy Number File @if(analysisGroupCopyNumber) {: {{analysisGroupCopyNumber.name}}}</p>
        </div>
        @if (canEdit) {
          <app-upload-file (fileUploaded)="handleFileUploaded($event, 'copy_number')" [analysisGroupId]="analysisGroup.id" [fileCategory]="'copy_number'"></app-upload-file>
        }
        @if (analysisGroupCopyNumber) {
          <button mat-icon-button (click)="downloadFile(analysisGroupCopyNumber)"><mat-icon>download</mat-icon></button>
          @if (canEdit) {
            <button mat-icon-button (click)="deleteFile(analysisGroupCopyNumber)"><mat-icon>delete</mat-icon></button>
            <button mat-flat-button color="primary" (click)="openExtraDataModal(analysisGroupCopyNumber)" [disabled]="!canEdit">Extra Data</button>
          }
        }
      </div>
      <div style="display: flex; flex-direction: row; gap: 20px; padding: 20px">
        @if (analysisGroupSearched) {
          <button mat-flat-button color="primary" [disabled]="!canEdit" (click)="setAnnotationModal(analysisGroupSearched)">Sample Annotation @if(sampleAnnotations) {({{sampleAnnotations.annotations.length}})}</button>
        }
        @if (sampleAnnotations && analysisGroupSearched && analysisGroupDF) {
          <button mat-flat-button color="primary" [disabled]="!canEdit" (click)="setComparisonMatrixModal(sampleAnnotations, analysisGroupSearched, analysisGroupDF)">Comparison Matrix @if(comparisonMatrix) {({{comparisonMatrix.matrix.length}})}</button>
        }
        <button mat-icon-button color="accent" (click)="openSearchModal()"><mat-icon>search</mat-icon></button>
        <button mat-icon-button [disabled]="!canEdit" (click)="deleteAnalysisGroup()"><mat-icon>delete</mat-icon></button>
      </div>
    }
  </div>
</div>
