<h2 mat-dialog-title>Create Analysis Group</h2>
<mat-dialog-content>
  @if (enableProjectSelection) {
    <form [formGroup]="formProjectSearch">
      <mat-form-field style="width: 100%">
        <input matInput formControlName="searchTerm" placeholder="Project Search" type="search">
        <mat-label>Project Search Term</mat-label>
      </mat-form-field>
      @if (projectQuery) {
        @if (projectQuery.results.length > 0) {
          <mat-selection-list [multiple]="false" formControlName="selectedProject">
            @for (p of projectQuery.results; track p.id) {
              <mat-list-option [value]="p">
                {{p.name}}
              </mat-list-option>
            }
          </mat-selection-list>
          <mat-paginator
            [pageSize]="projectPageLimit"
            [length]="projectQuery.count"
            [pageIndex]="projectPageIndex"
            (page)="handlePageEvent($event)">
          </mat-paginator>
        }
      }

    </form>
  }
  <form [formGroup]="form" style="display: flex; flex-direction: column; gap: 1px">
    @if (project) {
      <mat-list>
        <mat-list-item>
          <span matListItemTitle><b>Selected project: {{project.name}}</b></span>
        </mat-list-item>
      </mat-list>
    }
    <mat-form-field>
      <input matInput formControlName="name" type="text" placeholder="Analysis Group Name">
      <mat-label>Analysis Group Name</mat-label>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Analysis Group Description"></textarea>
      <mat-label>Analysis Group Description</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="analysis_group_type">
        @for (ag of dataService.analysisGroupChoices; track ag.value) {
          <mat-option [value]="ag.value">
            {{ag.label}}
          </mat-option>
        }
      </mat-select>
      <mat-label>Analysis Group Type</mat-label>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="submit()">Create</button>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
