<div class="main-container">
  @if(sidebarOpen) {
    <div class="project-side-nav">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>Project</span>
          <button mat-icon-button (click)="openCreateProjectDialog()" matTooltip="Create new project" aria-label="Create new project">
            <mat-icon>create_new_folder</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="sidebar-content">
        <form [formGroup]="form">
          <mat-form-field class="full-width">
            <input matInput formControlName="name" type="search" placeholder="Search Project">
            <mat-label>Search Project</mat-label>
          </mat-form-field>
        </form>
        @if (projectQuery) {
          @if (projectQuery.count > 0) {
            <div class="list-container">
              <app-project-list [projectQuery]="projectQuery" (projectSelected)="handleProjectSelect($event)"></app-project-list>
            </div>
            <mat-paginator #paginator
                           (page)="handlePageEvent($event)"
                           [length]="projectQuery.count"
                           [pageSize]="limit"
                           [showFirstLastButtons]="true"
                           [hidePageSize]="true"
                           [pageIndex]="pageIndex"
                           aria-label="Select page">
            </mat-paginator>
          } @else {
            <p>No projects found.</p>
          }
        }
      </div>
    </div>
  }

  <div class="project-main-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="toolbar-content">
          <button mat-icon-button (click)="toggleSidePanel()" matTooltip="Toggle sidebar" aria-label="Toggle sidebar"><mat-icon>menu</mat-icon></button>
          <span>@if (selectedProject) {
            {{selectedProject.name}}
          } @else {
            Select Project
          }</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="main-content-area">
      @if (selectedProject) {
        <app-project-view [project]="selectedProject" (deleted)="refreshData()" (updated)="handleUpdateData($event)"></app-project-view>
      }
    </div>
  </div>
</div>
