<h2 mat-dialog-title>Sample Annotation</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 300px">
      <mat-select (selectionChange)="onSelectionChange($event)" formControlName="columns" [multiple]="true">
        @for (c of columns; track c) {
          <mat-option [value]="c">{{c}}</mat-option>
        }
      </mat-select>
      <mat-label>Columns</mat-label>
    </mat-form-field>
  </form>
  @if (annotationData.length > 0) {
    <table mat-table [dataSource]="annotationData" #table>
      <ng-container matColumnDef="Sample">
        <th mat-header-cell *matHeaderCellDef> Sample </th>
        <td mat-cell *matCellDef="let element"> {{element.value.Sample}} </td>
      </ng-container>
      <ng-container matColumnDef="Condition">
        <th mat-header-cell *matHeaderCellDef> Condition </th>
        <td mat-cell *matCellDef="let element">
          <form [formGroup]="element">
            <mat-form-field>
              <input style="border-radius: 0" matInput #optionCondition  (change)="handleAutoCompleteChange($event, optionCondition.value)" placeholder="{{element.value.Sample}}" formControlName="Condition">
              <mat-label>{{element.value.Sample}}</mat-label>
            </mat-form-field>
          </form>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }
<!--  @for (s of annotationData; track s) {
    <div style="display: flex; flex-direction: row; gap: 20px">
      <form [formGroup]="s">
        <mat-form-field>
          <input matInput #optionCondition placeholder="{{s.value.Sample}}" value="{{s.value.Sample}}" formControlName="Condition">
          <mat-label>{{s.value.Sample}}</mat-label>
        </mat-form-field>
      </form>
    </div>
  }-->
</div>
<mat-dialog-actions>
  <button mat-button (click)="save()">Submit</button>
  <button mat-button (click)="cancel()">Close</button>
</mat-dialog-actions>
