/* You can add global styles to this file, and also import other style files */
@use "../m3-theme" as m3;
@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

mat-sidenav {
  border-radius: 0 !important;
}

.light-theme {
  @include mat.all-component-themes(m3.$light-theme);
  @include mat.system-level-colors(m3.$light-theme);
  @include mat.system-level-typography(m3.$light-theme);
  background: mat.get-theme-color(m3.$light-theme, background);
  .header-container {
    background: mat.get-theme-color(m3.$light-theme, background);
    color: mat.get-theme-color(m3.$light-theme, primary);
  }

}

.dark-theme {
  @include mat.all-component-themes(m3.$dark-theme);
  @include mat.system-level-colors(m3.$dark-theme);
  @include mat.system-level-typography(m3.$dark-theme);
  background: mat.get-theme-color(m3.$dark-theme, background);
  .header-container {
    background: mat.get-theme-color(m3.$dark-theme, background);
    color: mat.get-theme-color(m3.$dark-theme, primary);
  }
  p {
    @if m3.$dark-theme {
      color: mat.get-theme-color(m3.$dark-theme, tertiary);
    }
  }

  a {
    color: mat.get-theme-color(m3.$dark-theme, primary);
  }
  a:visited {
    color: mat.get-theme-color(m3.$dark-theme, tertiary);
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
  flex: 1 1 auto;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #780101;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
