.project-section {
  margin-bottom: 16px;
}

.project-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.condition-row {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 4px;
}

.condition-name {
  font-size: 14px;
}
